USE [DbEtutV2]
GO
/****** Object:  Table [dbo].[TBL_DERSLER]    Script Date: 22.10.2023 23:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DERSLER](
	[DERSID] [tinyint] IDENTITY(1,1) NOT NULL,
	[DERSAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_DERSLER] PRIMARY KEY CLUSTERED 
(
	[DERSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ETUT]    Script Date: 22.10.2023 23:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ETUT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DERSID] [tinyint] NULL,
	[OGRETMENID] [tinyint] NULL,
	[OGRENCIID] [smallint] NULL,
	[TARIH] [varchar](50) NULL,
	[SAAT] [char](5) NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_TBL_ETUT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_OGRENCI]    Script Date: 22.10.2023 23:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_OGRENCI](
	[OGRID] [smallint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
	[SOYAD] [varchar](50) NULL,
	[FOTOGRAF] [varchar](250) NULL,
	[SINIF] [char](2) NULL,
	[TELEFON] [varchar](50) NULL,
	[MAIL] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_OGRENCI] PRIMARY KEY CLUSTERED 
(
	[OGRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_OGRETMENN]    Script Date: 22.10.2023 23:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_OGRETMENN](
	[OGRTID] [tinyint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
	[SOYAD] [varchar](50) NULL,
	[BRANSID] [tinyint] NULL,
 CONSTRAINT [PK_TBL_OGRETMENN] PRIMARY KEY CLUSTERED 
(
	[OGRTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_DERSLER] ON 

INSERT [dbo].[TBL_DERSLER] ([DERSID], [DERSAD]) VALUES (1, N'MATEMATİK')
INSERT [dbo].[TBL_DERSLER] ([DERSID], [DERSAD]) VALUES (2, N'TÜRKÇE')
INSERT [dbo].[TBL_DERSLER] ([DERSID], [DERSAD]) VALUES (3, N'FİZİK')
SET IDENTITY_INSERT [dbo].[TBL_DERSLER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_ETUT] ON 

INSERT [dbo].[TBL_ETUT] ([ID], [DERSID], [OGRETMENID], [OGRENCIID], [TARIH], [SAAT], [DURUM]) VALUES (1, 1, 2, 3, N'18.04.2024', N'13:00', 0)
INSERT [dbo].[TBL_ETUT] ([ID], [DERSID], [OGRETMENID], [OGRENCIID], [TARIH], [SAAT], [DURUM]) VALUES (2, 3, 4, NULL, N'18.04.2024', N'15:00', 0)
INSERT [dbo].[TBL_ETUT] ([ID], [DERSID], [OGRETMENID], [OGRENCIID], [TARIH], [SAAT], [DURUM]) VALUES (3, 1, 2, 1, N'18.02.2024', N'15:15', 1)
SET IDENTITY_INSERT [dbo].[TBL_ETUT] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_OGRENCI] ON 

INSERT [dbo].[TBL_OGRENCI] ([OGRID], [AD], [SOYAD], [FOTOGRAF], [SINIF], [TELEFON], [MAIL]) VALUES (1, N'Ali', N'Yıldız', NULL, N'11', N'55123467812', N'deneme@outlook.com')
INSERT [dbo].[TBL_OGRENCI] ([OGRID], [AD], [SOYAD], [FOTOGRAF], [SINIF], [TELEFON], [MAIL]) VALUES (2, N'Veli', N'Çınar', NULL, N'11', N'41249581278', N'denem123@hotmail.com')
INSERT [dbo].[TBL_OGRENCI] ([OGRID], [AD], [SOYAD], [FOTOGRAF], [SINIF], [TELEFON], [MAIL]) VALUES (3, N'Ayşe', N'Kaya', NULL, N'12', N'31455124522', N'ayşe@gmail.com')
SET IDENTITY_INSERT [dbo].[TBL_OGRENCI] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_OGRETMENN] ON 

INSERT [dbo].[TBL_OGRETMENN] ([OGRTID], [AD], [SOYAD], [BRANSID]) VALUES (1, N'MEHMET', N'ÖZTÜRK', 1)
INSERT [dbo].[TBL_OGRETMENN] ([OGRTID], [AD], [SOYAD], [BRANSID]) VALUES (2, N'AYÇA', N'MEÇE', 1)
INSERT [dbo].[TBL_OGRETMENN] ([OGRTID], [AD], [SOYAD], [BRANSID]) VALUES (3, N'EDA', N'ÖZHAN', 2)
SET IDENTITY_INSERT [dbo].[TBL_OGRETMENN] OFF
GO
ALTER TABLE [dbo].[TBL_ETUT] ADD  CONSTRAINT [DF_TBL_ETUT_DURUM]  DEFAULT ((0)) FOR [DURUM]
GO
/****** Object:  StoredProcedure [dbo].[Etut]    Script Date: 22.10.2023 23:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Etut]
as
select ID,DERSAD,(TBL_OGRETMENN.AD + ' ' + TBL_OGRETMENN.SOYAD)as 'Öğretmen', TARIH,SAAT,DURUM
from TBL_ETUT 
inner join TBL_DERSLER 
on 
TBL_ETUT.DERSID = TBL_DERSLER.DERSID
inner join TBL_OGRETMENN
on 
TBL_ETUT.OGRETMENID = TBL_OGRETMENN.OGRTID

GO
